.component-tree {
    grid-area: tree;
}

.sources {
    grid-area: sources;
}

.sinks {
    grid-area: sinks;
}

.settings {
    grid-area: settings;
}

.graph {
    grid-area: graph;
}

.navigation {
    grid-area: navigation;
}

.container {
    display : grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 200px 1fr 1fr;
    grid-gap: 1rem;
    height: 400px;
    grid-template-areas: "tree sources settings " "tree sinks sinks" "graph graph graph " "navigation navigation navigation ";
}

.component-tree__container {
    display: flex;
    flex-direction: row;
    flex-wrap : no-wrap;
    padding: 2px ;
}

ul.no-list-style {
    list-style-type: none
}

.component-tree__container .toggle {
    width : 10px
}
.component-tree__container .combinator {
    flex-basis : 30%;
    flex-grow : 3;
}
.component-tree__container .trace {
}
.component-tree__container .info {
    width : 10em
}

.icon {
    width: 16px;
    height: 16px;
    margin: 4px;
}
